WebApiSoftplan/.vs/
WebApiSoftplan/Contract/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
WebApiSoftplan/Contract/obj/
WebApiSoftplan/Services/obj/
WebApiSoftplan/TestProject/obj/
WebApiSoftplan/WebApiSoftplan1/obj/
WebApiSoftplan/WebApiSoftplan2/obj/
WebApiSoftplan/Services/bin/
WebApiSoftplan/TestProject/bin/
WebApiSoftplan/Contract/bin/
WebApiSoftplan/WebApiSoftplan1/bin/
WebApiSoftplan/WebApiSoftplan2/bin/
